/* CSS Variables */
/* Common CSS Variables */
:root {
    --callout-icon-quote: quote;
    --callout-font-size: 1em;
    --callout-line-height: 1.5em;
    --callout-title-font-size: 1.25em;
    --callout-title-line-height: 1.75em;
    --callout-padding: 10px 15px;
    --callout-border-radius: 5px;
    --callout-border-left-width: 2px;
}

/* Light Theme */
.theme-light {
    --callout-color-primary: #007da5;
    --callout-color-bg: #ffffff;
    --callout-color-border: #ffffff;
    --callout-background-gradient: linear-gradient(
        to right,
        rgba(0, 125, 165, 0.1),
        rgba(0, 125, 165, 0)
    );
}

/* Dark Theme */
.theme-dark {
    --callout-color-primary: #00c7ff;
    --callout-color-bg: #333333;
    --callout-color-border: #444444;
    --callout-background-gradient: linear-gradient(
        to right,
        rgba(0, 199, 255, 0.1),
        rgba(0, 199, 255, 0)
    );
}

/* Stylized Callout */
.callout[data-callout="stylized"] {
    --callout-icon: var(--callout-icon-quote);
    --link-external-color: var(--callout-color-primary);
    border-color: var(--callout-color-border) !important;
    border-radius: var(--callout-border-radius);
    border-left-color: var(--callout-color-primary) !important;
    border-left-width: var(--callout-border-left-width) !important;
    background-color: var(--callout-color-bg);
    background-image: var(--callout-background-gradient);
    font-size: var(--callout-font-size);
    line-height: var(--callout-line-height);
    margin: auto;
    margin-bottom: 10px;
    padding: var(--callout-padding);

    & > .callout-title > .callout-title-inner {
        color: var(--callout-color-primary);
        font-size: var(--callout-title-font-size);
        line-height: var(--callout-title-line-height);
    }

    & > .callout-title > .callout-icon {
        color: #000000;
        display: none;
    }

    & > .callout-content p {
        font-style: italic;
        /* text-align: center; */
    }
}

/* Obselete Style Scripture Callout */
.callout[data-callout="mormon"] {
    --callout-icon: book-plus;
}

/* Classic Style Scripture Callout */
.callout[data-callout="scripture"] {
    --callout-icon: book-marked;
}

/* Ensign Callout */
.callout[data-callout="ensign"] {
    --callout-icon: book-open-text;
    --callout-color: 152, 152, 152;
}

/* Magazine Callout */
.callout[data-callout="magazine"] {
    --callout-icon: book-open-text;
    --callout-color: 152, 152, 152;
}

/* News Callout */
.callout[data-callout="news"] {
    --callout-icon: newspaper;
    --callout-color: 152, 152, 152;
}

/* Reference Callout */
.callout[data-callout="reference"] {
    --callout-icon: library-big;
    --callout-color: 152, 152, 152;
}

/* Research Callout */
.callout[data-callout="research"] {
    --callout-icon: microscope;
    --callout-color: 152, 152, 152;
}

/* Preach My Gospel Callout */
.callout[data-callout="pmg"] {
    --callout-icon: notebook-text;
    --callout-color: 152, 152, 152;
}

/* Church Study Materials Callout */
.callout[data-callout="study"] {
    --callout-icon: notebook-pen;
    --callout-color: 152, 152, 152;
}

/* Church Essay Callout */
.callout[data-callout="study"] {
    --callout-icon: scroll;
    --callout-color: 152, 152, 152;
}

/* Church Essay Callout */
.callout[data-callout="essay"] {
    --callout-icon: scroll-text;
    --callout-color: 152, 152, 152;
}

/* Church Manual Callout */
.callout[data-callout="manual"] {
    --callout-icon: scroll-text;
    --callout-color: 152, 152, 152;
}

/* Church Music Callout */
.callout[data-callout="music"] {
    --callout-icon: music;
    --callout-color: 152, 152, 152;
}

/* Church Handbook Callout */
.callout[data-callout="handbook"] {
    --callout-icon: scale;
    --callout-color: 152, 152, 152;
}

/* Church Broadcast Callout */
.callout[data-callout="broadcast"] {
    --callout-icon: tv;
    --callout-color: 152, 152, 152;
}

/* GenCon Callout */
.callout[data-callout="gencon"] {
    --callout-icon: lectern;
    --callout-color: 152, 152, 152;
}

/* GenCon Callout */
.callout[data-callout="speech"] {
    --callout-icon: speech;
    --callout-color: 152, 152, 152;
}

/* GenCon Stylized Citation */
.callout[data-callout="genconcitation"] {
    border-color: transparent !important;
    background-color: transparent !important;
    text-align: right;
    color: var(--callout-color-primary);
    font-size: var(--callout-font-size);
    line-height: var(--callout-line-height);
    margin: auto;

    & > .callout-title > .callout-icon {
        display: none;
    }

    & > .callout-title > .callout-title-inner {
        display: none;
    }
}

cite {
    color: var(--callout-color-primary);
    text-align: end;
    display: block;
}
